/*EFECTO NIEVE*/
.intro,
.intro a{
  color:#fff; 
}

/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

/* Demo Purpose Only*/
.demo {
  font-family: 'Raleway', sans-serif;
    color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a{
  font-family: 'Raleway', sans-serif;
color: #000;		
}


/*CURSOR*/
body, a, a:hover {
  cursor: url(http://cur.cursors-4u.net/holidays/hol-4/hol356.cur), progress;
}

/*NAVBAR*/
@mixin navegadorflex ($contenedor, $distribucion, $agrupacion, $colorfondo1, $titulos, $anchoweb, $altoweb, $fijacion){
    display: $contenedor;
    justify-content: $distribucion;
    align-items: $agrupacion;
    background-color: $colorfondo1;
    font-family: $titulos;
    width: $anchoweb;
    height: $altoweb;
    position: $fijacion;
}

.navbar{
    @include navegadorflex(flex, space-evenly, center, #d4131f, 'Chicle', 100%, 18%, fixed);
}

.right ul {
    display: flex;
    list-style: none;
    overflow: hidden;
}

.right ul li a {
    display: block;
    font-size: 2em;
    padding: 1rem 1rem;
    line-height: 3rem;
    color: white;
    text-decoration: none;
    transition: all 1s;
}

.right ul li a:hover {
    background-color: white;
    border-radius: 50px;
    color: #d4131f;
}

h1{
  font-family: 'Chicle';
  padding-top: 20%;
  color: white;
  text-align: center;
}
/*PESTAÑA REYES*/
.colorbody{
  background-color: #096552;
}

.titulo{
  text-align: center;
  color: white;
  padding-top: 10%;
  font-family: "chicle", "Courier New", Courier,  monospace;
  font-weight: lighter;
}
.parrafos{
  text-align: center;
  color: white;
  margin-top: 50%;
  margin-left: 20%;
 align-items: center;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  margin-block: 40px;
  height: 85vh; 
  background-color: #0d5446;
  width: 900px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}
.reyesbanner{
  margin-top: 10%;
  width: 100%;
  height: 80%;
 }
 button{
  height: 7%;
  background-color: #d4131f;
  color: white;
  border-radius: 10%;
  font-family:'Chicle', cursive;
  border: #d4131f;
  align-items: center;
  margin-top: 25%;
  }

  #reyes {
    width: 300px;
    padding:10px;
    align-items: center;
  }
/*FIN PESTAÑA REYES*/

/*PAGINA SILVIA*/
.colorbody{
  background-color: #096552;
}

.titulo{
  text-align: center;
  color: white;
  padding-top: 10%;
  font-family: "chicle", "Courier New", Courier,  monospace;
  font-weight: lighter;
}
.parrafos{
  text-align: center;
  color: white;
  margin-top: 50%;
  margin-left: 20%;
 align-items: center;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  margin-block: 40px;
  height: 85vh; 
  background-color: #0d5446;
  width: 900px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}
.baner{
  margin-top: 5%;
  width: 100%;
  height: 80%;
 }
 button{
  height: 7%;
  background-color: #d4131f;
  color: white;
  border-radius: 10%;
  font-family:'Chicle', cursive;
  border: #d4131f;
  align-items: center;
  margin-top: 25%;
  }

  #papa {
    width: 300px;
    padding:10px;
    align-items: center;
  }
/*FIN PAGINA SILVIA*/

@mixin gri{
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 400px 400px 400px;
  grid-gap: 20px;
}

.grid{
  @include gri;
}

.grid2{
  @include gri;
}

@mixin box{
  width: 400px;
  height: 337px;
  border:3px solid white;
  margin: 80px;
  text-align: center;
  line-height: 30px;
  padding: 80px;
  background-color: #096552;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(92,99,105,.2);
}

.caja{
  @include box;
}

@mixin fotos{
  width: auto px;
  height: 50px;
  text-align: center;
}

.arbol{
  @include fotos;
}

.campanas{
  @include fotos;
}

.reyes{
  @include fotos;
}

.sobre{
  @include fotos;
}

.estrella{
  @include fotos;
}

.nacimiento{
  @include fotos;
}

/*SECTION*/
section {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 8rem;
    padding-bottom: -1rem;
    width: 100%;
    height: 40rem;
    background-image: linear-gradient(
    to bottom right,
    #011410 0%,
    #043229 20%,
    #075041 40%,
    #096552 60%,
    #529385 80%
    );
    background-size: 200% 200%; 
    animation: movimiento 5s linear infinite alternate;
}

@keyframes movimiento {
  from {
    background-position: 0 0;
  }
  to{
    background-position: 100% 100%;
  }
}  

.flex-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card1 {
  width: 17rem;
  height: 17rem;
  padding: 4rem;
  top: 30%;
  left: 27%;
  border-radius: 150px;
  text-align: center;
  color: #cca352;
  background: rgba( 13, 84, 70, .2);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  z-index: 1;
  position: absolute;
}

.card2 {
  width: 17rem;
  height: 17rem;
  padding: 4rem;
  top:45%;
  left: 67%;
  border-radius: 150px;
  text-align: center;
  color: #cca352;
  background: rgba( 13, 84, 70, .2);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  z-index: 1;
  position: absolute;
}

@mixin textosgri1{
  margin-top: 20px;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color:white;
  line-height: 0.6cm;
}

.texto1{
  @include textosgri1;
}

.texto2{
  @include textosgri1;
}

.texto3{
  @include textosgri1;
}

.texto4{
  @include textosgri1;
}

.texto5{
  @include textosgri1;
}

.texto6{
  @include textosgri1;
}

.linea{
  border-top: 4px solid white;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: -300px;
}

@mixin gri2{
  font-family: chicle;
  color: white;
  line-height: 1;
  font-size: 30;
}

.titulos{
  @include gri2;
}

@mixin iconos2{
  width: auto px;
  height: 60px;
  text-align: center;
  border-radius: 10px;
}

.sobre2{
  @include iconos2;
}

.regalo{
  @include iconos2;
}

.despertador{
  @include iconos2;
}

@mixin box2{
  width: 400px;
  height: 140px;
  margin: 80px;
  text-align: center;
  line-height: 65px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba (92,99,105,.2);
  background-color: #096552
}

.caja2{
  @include box2;
}

.salto{
  color:#cca352;
}

@mixin textosgri2{
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  line-height: 0.6cm;
  padding: 65px;
}

.texto7{
  @include textosgri2;
}

.texto8{
  @include textosgri2;
}

.texto9{
  @include textosgri2;
}

.linea2{
  border-top: 4px solid white;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: -650px;
  margin-bottom: 100px;
}

.verde{
  background-color: #0d5446;
}

/*FOOTER*/
.container {
  display: grid;
  padding-left: 17rem;
  padding-block: 2rem;
  background-color: #d4131f;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  max-width: 250rem;
  height: 20rem;    
}

a{
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.list-link:hover {
  color: #cca352;
}

.footer__divider {
  margin-block: 1,5rem;
  border: none;
  color: white;
  border-top: 1px solid;
}

.list-bottom {
  display: inline-flex;
  gap: 1rem;
}
